@import 
    url("https://mandragora.mstdev.ru/static/css/app.aca7be4c89f6b9d6a6eed82a85512c5e.css"),
    url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic");

body, html {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: table;
}

// .mt-3 {
//     height: 40px !important;
//     margin-top: 0px;
// }

.blur {
    background: rgba(0,0,0,.2);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#navbar {
    width: 100%;
    max-width: 100%;;
    height: 45px;
    background: #0bb879;
}

.wrap {
    width: 849px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    padding: 5px 10px;
}

.logo img {
    width: 91px;
    height: 33px;
}

.right-menu {
    margin: -4px 10px;
    position: absolute;
    top: 15px;
    right: 27px;
}

.right-menu p {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 0px;
    line-height: 10px;
}

.right-menu small {
    float: left;
}

.muted {
    color: #4fcb9e;
}

.side-wrap {
    width: 895px;
    min-width: 73.55%;
    margin-left: 23%;
    position: relative;
}

.wcontent {
    width: 100%;
    background: #fff;
    padding: 15px 15px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.content {
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 7px;
    height: 170px;
}

.content_head {
    display: table;
    margin: 12px 0px;
    width: 100%;
}

.content::-webkit-scrollbar {
    width: 4px;
    height: 24px;
}

.content::-webkit-scrollbar-track {
    background-color: transparent;
}
 
.content::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 100px;
  /* outline: 1px solid slategrey; */
}

#itemsBody {
    width: 232px;
    border-radius: 3px;
    box-shadow: 0 16px 24px 0 #00000023;
    border: solid 1px #f5f5f5;
    background-color: #ffffff;
}

#sBu{
    text-transform: capitalize;
    width: 232px;
    height: 40px;
    border-radius: 3px;
    border: solid 1.5px #0bb879;
    background-color: #ffffff;
    margin-bottom: 5px;
}

#sBu:hover {
    cursor: pointer;
}

.textSbu {
    width: 110px;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #3a3d3f;
    float: left;
    padding: 0px 0px 0px 10px;
}

.animate_chevron {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#sBu:focus {
    outline: none;
}

#sBu .chevron_icon {
    float: right;
    width: 16px;
    height: 16px;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input {
    border: none;
}

#iBu {
    border: none;
    min-width: 85%;
    float: right;
    height: 20px;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
}

#iBu:focus {
    outline: none;
}

#iBu::placeholder{
    font-family: "Exo 2";
    size: 14px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #9b9b9b !important;
}

.search_icon {
    width: 16px;
    height: 16px;
    margin: 1px 15px;
    position: absolute;
    left: 0%;
}

#sAll {
    min-width: 230px;
    background: #fff;
    font-size: 14px;
    border: none;
}

#sAll:hover {
    border-color: #eee;
}

.switchButton {
  position: relative;
  background: white;
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
}

.switchButton:after {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #4a4a4a;
    font-weight: 500;
    text-align: center;
    font-family: "Exo 2";
}

.line {
    width: 232px;
    height: 1px;
    background-color: #f5f5f5;
}

.switchButton:after {
    left: 0%;
    content: attr(value);
}

.uk-checkbox {
    margin-right: 15px;
}

.bread ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.bread ul li {
    display: inline-block;
    position: relative;
}

.bread ul li::after {
    content: "\2192";
    display: inline;
    color: #ccc;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

.bread ul li:nth-child(5)::after{
    content: "";
}

.bread ul li a {
    color: #ccc;
    border-bottom: 1px solid #d2d7da;
    padding-bottom: 2px;
}

.bread ul li a:hover {
    text-decoration: none;
}

.bread ul li a.activeThis {
    color: #555;
    border: none;
}

.menu-header {
    margin-top: 16px;
    position: relative;
}

.menu-header h1 {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
}

.action label {
    margin-bottom: 0px;
}

.spinner {
    position: fixed;
    background: #fff;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.spinner div {
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px 0 0 -50px;
    color: #000;
}

@media screen and (min-width: 1366px){
    .side-wrap {
        width: 940px!important;
    }
}
